/*===================== Video colegio ====================*/
video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.capa-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
 .bienvenida{
    position: relative;
    top: 60%;
    left: 5%;
  }
  
 .bienvenida h2{
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 500;
  }
  
  .bienvenida h2 span{
    font-size: 2.0em;
    font-weight: 600;
  }
  
  .animated-text{
    position: relative;
    height: 70px;
    overflow: hidden;
  }
  
  .animated-text h3{
    color: #F5B400;
    font-size: 3em;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
  }
  
  .animated-text h3:nth-child(1){
    animation: text-move 5s infinite ;
  }
  
  @keyframes text-move{
    0%{
      margin-top: 0;
    }
    25%{
      margin-top: -70px;
    }
    50%{
      margin-top: -140px;
    }
    75%{
      margin-top: -70px;
    }
    100%{
      margin-top: 0;
    }
  }
  
@media screen and (max-width: 900px){
    video{
        display: none;
    }
    .img-colegio{
        background-image: url();
        background-repeat : no-repeat;
        background-size : contain;
        height: 100vh;
    }
    .capa-video{
        display: none;
    }
}
/*================== Barra de Menu  ======================*/
header{
    z-index: 999;
    position: fixed;
    background: rgba(0,0,0,0.0);
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px 80px;
    display: flex;
 
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;

  }
  header.sticky{
    background:#A80A0A;
    padding: 4px 80px;
  }

 .brand h3{
    position: relative;
    float: left;
    color: #fff;
    top: 4px;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
  }
  .brand .ugarte{
    position: relative;
    top: -1px;
  }
  .brand img{
    position: relative;
    float: left;
    height: 50px;
    top: 1px;
    margin-left: -50px;
  }
  header .navigation{
    position: relative;
  }

  header .navigation a{
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
  }
  
  header .navigation a:hover{
    color: #3a6cf4;
  }
  
  header.sticky .navigation a:hover{
    color: #000;
  }
  @media (max-width: 1040px){
    header{
      padding: 12px 20px;
    }
  
    header.sticky{
      padding: 10px 20px;
    }
  
    header .navigation{
      display: none;
    }
  
    header .navigation.active{
      z-index: 888;
      position: fixed;
      background: #fff;
      top: 0;
      right: 0;
      width: 380px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
      transition: 0.3s ease;
    }
    header .navigation a{
      color: #000;
      font-size: 1.2em;
      margin: 10px;
      padding: 0 20px;
      border-radius: 20px;
    }
    header .navigation a:hover{
      background: #3a6cf4;
      color: #fff;
      transition: 0.3s ease;
    }
    .menu-btn{
      position: absolute;
      background: url(/img-icons/menu.png)no-repeat;
      background-size: 30px;
      background-position: center;
      width: 40px;
      height: 40px;
      right: 0;
      margin: 0 20px;
      cursor: pointer;
      transition: 0.3s ease;
    }
    .menu-btn.active{
      z-index: 999;
      background: url(/img-icons/close.png)no-repeat;
      background-size: 25px;
      background-position: center;
      transition: 0.3s ease;
      filter: invert(1);
    }
    .brand img{
        margin-left: 10px;
    }
    .brand h3{
        margin-left:5px;
      }
}

/* dark */
.dark-theme{
  --search-text: #18191A;
  --letra-blanca: #fff; 
}
#icon{
  width: 30px;
  cursor: pointer;
}
.btn-matriculate{
  position: relative;
  font-weight: 700;
  color: #fff;
  padding: 6px 25px;
  background: rgb(0, 0, 0);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.btn-matriculate:hover{
  background-color:#ffae00 ;
  transform: scale(1.1);
}
/*================== Secci贸n QS-MVV ======================*/
.QS-MVV{
 background: var(--search-text);
}
.QS-MVV .content{
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  overflow: hidden;
  top: -3%;
  margin-bottom: 16px;
  color: var(--letra-blanca);
}
.QS-MVV .card p{
  align-content: center;
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: var(--letra-blanca);
}
.QS-MVV .content .card{
  width: 360px;
  margin: 16px;
  padding: 25px;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 45px rgba(255, 196, 0, 0.836);
  border-radius: 10px;
  top: 10px;
}
.QS-MVV .content .card .QS-MVV-icon{
  text-align: center;
  transition: transform 0.5s ease;
  padding: 0;
  margin: 0;
}
.QS-MVV .content .card:hover .QS-MVV-icon{
  transform: translateY(-10px);
}
.QS-MVV .content .card .info{
  text-align: center;
}

.QS-MVV .content .card .info .bajon{
  text-align: center;
  padding: 5px;
}

.QS-MVV .content .card .info h3{
  color: #ffae00 ;
  font-size: 1.5em;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}
/*================= Secci贸n Palabra de la Directora =================*/
.PD{
  background: var(--search-text);
}
.PD .content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  left:0%;
  top:20%;
}

.PD .content .col-left{
  position: relative;
  width: 45%;
}

.PD .content .col-right{
  position: relative;
  width: 41%;
  left: -80px;
}

.PD .content .col-left .img-card{
  position: relative;
  width: 110%;
  min-height: 480px;
  display: flex;
  left: -10%;
}

.PD .content .col-left .img-card img{
  position: absolute;
  top: 0;
  left: 28%;
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.568);
}

.PD .content .col-right .content-title{
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 20px;
}

.PD .content .col-right .paragraph-text{
  font-size: 1em;
}
/*===================== Secci贸n Profesores  ====================*/
/*===================== INICIAL  ========================*/
.wrapper{
  align-items: center;
  justify-content: center;
  background: var(--search-text);
}
.contenido-profesores{
  height: 70vh;
  position: relative;
  top:110px;

}
.sub-profesores{
  position: relative;
  text-align: center;
  top: 60px;
  font-size:25px ;
  

}
.testimonials .title .section-title{
  position: relative;
  top: 40px;

}
.profesores-thumbnail img{
  width: 100%;
}
.profesores-thumbnail{
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 50%;
  top: 5px;
  left: 10px;
  float: left;
}
.profesores-tabs{
  position: relative;
  margin-bottom: 24px;
  left: 88px;

}
.profesores-intro .profesores-name{
  position: relative;
  color:#000;
  left: 11px;
  top: 6px;
}
.profesores-intro .profesores-designation{
  position: relative;
  font-size: 12px;
  top:-4px;
  left: 11px;
  color:#000;
}
.profesores-intro .profesores-description{
  display: none;

}
.profesores-item{
  position: relative;
  align-items: center;
  margin: 12px 0;
  padding: 1px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.432);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 60px;
  top: 30px;
}
.profesores-item:first-child{
  margin-top: 0;
}
.profesores-item:last-child{
  margin-bottom: 0;
  
}
.profesores-item:hover{
  background-color:#ffae00;
}
.profesores-item:hover .profesores-intro *{
  color: rgb(228, 204, 204);
}
.profesores-item:active{
  transform: translateY(3px);
  
}
.profesores-item.active{

}
.profesores-item.active .profesores-intro *{
  color:#000;
}
.show-info{
  position: relative;
  display: flex;
  top: -23rem;
  left: 38%;
  height: 90%;
  max-width: 43.2rem;
  border-radius: 5px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.568);
}
.show-img img{
  width: 100%;
}
.show-text > div{
   position: relative;
  text-align: center;
}
.show-text .show-name{
  font-size: 20px;
}
.show-text{
  position: relative;
  top: 50px;
  width: 50%;
}
.show-text .show-designation{
  color: #b1b1b1;
}
.show-text .show-description{
  margin: 20px 0;
  font-weight: 300;
  color: #686868;
  line-height: 1.4;
}
.show-text a{
  background-color: var(--green);
  color: #fff;
  text-decoration: none;
  padding: 10px 24px;
  display: inline-block;
  margin-top: 8px;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}
.show-text a:hover{
  background-color: #18a040;
}

@media(min-width: 768px){
  .testimonials{
      padding: 20px 40px;
  }
  .content{
      flex-direction: row;
  }
  .profesores-list{
      width: 30%;
  }
  .show-info{
      width: calc(70% - 30px);
      margin-left: 30px;
  }
  .profesores-tabs{
      margin-bottom: 0px;
  }
}

@media(min-width: 992px){
  .show-info{
      display: flex;
      align-items: flex-start;
  }
  .show-img{
      margin-right: 30px;
      height: 100%;
  }
  .show-img img{
      width: 280px;
      object-fit: cover;
      height: 100%;
  }
}
/*===================== PRIMARIA  ========================*/
.profesores-thumbnail2 img{
  width: 100%;
}
.profesores-thumbnail2{
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 50%;
  top: 5px;
  left: 10px;
  float: left;
}
.profesores-tabs{
  position: relative;
  margin-bottom: 24px;
  left: 88px;
  
}.profesores-intro .profesores-name2{
  position: relative;
  color:#000;
  left: 11px;
  top: 6px;
}.profesores-intro .profesores-designation2{
  position: relative;
  font-size: 12px;
  top:-4px;
  left: 11px;
  color:#000;
}.profesores-intro .profesores-description2{
  display: none;
}.profesores-item2{
  position: relative;
  align-items: center;
  margin: 12px 0;
  padding: 1px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.432);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 60px;
  top: 30px;
}.profesores-item2:first-child{
  margin-top: 0;
}.profesores-item2:last-child{
  margin-bottom: 0;
}.profesores-item2:hover{
  background-color:#ffae00;
}.profesores-item2:hover .profesores-intro *{
  color: rgb(228, 204, 204);
}.profesores-item2:active{
  transform: translateY(3px);
}.profesores-item2.active{
}.profesores-item2.active .profesores-intro *{
  color:#000;
}
.show-info2{
  position: relative;
  display: flex;
  top: -23rem;
  left: 38%;
  height: 90%;
  max-width: 43.2rem;
  border-radius: 5px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.568);
}

.show-img2 img{
  width: 100%;
}
.show-text2 > div{
  position: relative;
  text-align: center;
}
.show-text2 .show-name2{
  font-size: 20px;
}
.show-text2{
  position: relative;
  top: 50px;
  width: 50%;
}
.show-text2 .show-designation2{
  color: #000;
}
.show-text2 .show-description2{
  margin: 20px 0;
  font-weight: 300;
  color: #000;
  line-height: 1.4;
}
.show-text2 a{
  background-color: var(--green);
  color: #fff;
  text-decoration: none;
  padding: 10px 24px;
  display: inline-block;
  margin-top: 8px;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}
.show-text2 a:hover{
  background-color: #18a040;
}

@media(min-width: 768px){
  .testimonials{
      padding: 20px 40px;
  }
  .content{
      flex-direction: row;
  }
  .profesores-list{
      width: 30%;
  }
  .show-info2{
      width: calc(70% - 30px);
      margin-left: 30px;
  }
  .profesores-tabs{
      margin-bottom: 0px;
  }
}

@media(min-width: 992px){
  .show-info2{
      display: flex;
      align-items: flex-start;
  }
  .show-img2{
      margin-right: 30px;
      height: 100%;
  }
  .show-img2 img{
      width: 280px;
      object-fit: cover;
      height: 100%;
  }
}
/*===================== SECUNDARIA  ========================*/
.profesores-thumbnail3 img{
  width: 100%;
}
.profesores-thumbnail3{
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 50%;
  top: 5px;
  left: 10px;
  float: left;
}
.profesores-tabs{
  position: relative;
  margin-bottom: 24px;
  left: 88px;
  
}.profesores-intro .profesores-name3{
  position: relative;
  color:#000;
  left: 11px;
  top: 6px;
}.profesores-intro .profesores-designation3{
  position: relative;
  font-size: 12px;
  top:-4px;
  left: 11px;
  color:#000;
}.profesores-intro .profesores-description3{
  display: none;
}.profesores-item3{
  position: relative;
  align-items: center;
  margin: 12px 0;
  padding: 1px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.432);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 60px;
  top: 30px;
}.profesores-item3:first-child{
  margin-top: 0;
}.profesores-item3:last-child{
  margin-bottom: 0;
}.profesores-item3:hover{
  background-color:#ffae00;
}.profesores-item3:hover .profesores-intro *{
  color: rgb(228, 204, 204);
}.profesores-item3:active{
  transform: translateY(3px);
}.profesores-item3.active{
}.profesores-item3.active .profesores-intro *{
  color:#000;
}
.show-info3{
  position: relative;
  display: flex;
  top: -23rem;
  left: 38%;
  height: 90%;
  max-width: 43.2rem;
  border-radius: 5px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.568);
}

.show-img3 img{
  width: 100%;
}
.show-text3 > div{
  position: relative;
  text-align: center;
}
.show-text3 .show-name3{
  font-size: 20px;
}
.show-text3{
  position: relative;
  top: 50px;
  width: 50%;
}
.show-text3 .show-designation3{
  color: #000;
}
.show-text3 .show-description3{
  margin: 20px 0;
  font-weight: 300;
  color: #000;
  line-height: 1.4;
}
.show-text3 a{
  background-color: var(--green);
  color: #fff;
  text-decoration: none;
  padding: 10px 24px;
  display: inline-block;
  margin-top: 8px;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}
.show-text3 a:hover{
  background-color: #18a040;
}

@media(min-width: 768px){
  .testimonials{
      padding: 20px 40px;
  }
  .content{
      flex-direction: row;
  }
  .profesores-list{
      width: 30%;
  }
  .show-info3{
      width: calc(70% - 30px);
      margin-left: 30px;
  }
  .profesores-tabs{
      margin-bottom: 0px;
  }
}

@media(min-width: 992px){
  .show-info3{
      display: flex;
      align-items: flex-start;
  }
  .show-img3{
      margin-right: 30px;
      height: 100%;
  }
  .show-img3 img{
      width: 280px;
      object-fit: cover;
      height: 100%;
  }
}
/************************************** Noticia ***************************/
/* ====================== galeria ======================= */
.galeria{

}

/********************** Estructura Organizativa **************************  */
.EO{
  background: #000000;
  }
  .contendor_1{
    background: #18a040;
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
  }
  .contendor_2{
    position: relative;
    background:#ce4a08;
    width: 100%;
    height: 100vh;
    top: 0;
  }
  .btnEO{
    position: relative;
    top: 90px;
  }
/*********************** Actividades escolares *************/

/*===================== Matriculate =====================*/
.matriculate{

}
.CI{

    font-family: "GT America Standard Regular";
  position: relative;
  margin-left: 50px;
  list-style-type: decimal;
}
.CI li{

  padding: 3px;
  margin-left: 40px;
}
.resul{
  position: relative;
  top: 5%;
  margin-left: 50px;
  font-family: poppins;
}
.resul p{
  position: relative;
  top: 10px;
}

.row{
  position: relative;
  top: 10%;

}
.form-control{
  margin: 20px;
  width: 280px;
  height: 40px;
  border-radius: px;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}

.matriculate-contenedor{
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;

  position: relative;
  top:-70%;
  left: 51%;
  width: 48%;
  height: 80%;
}
.mensaje{
  width: 93%;
  height: 20%;
}
.btn-secondary{
  position: relative;
  left: 2%;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}
.requisitos{
  position: relative;
  top: 20%;
  width: 50%;
  height: 80%;
}
/* ================ Ubicaci贸n y convenio ========== */
.UC .uc-contenido{

}
.UC .capa-uc{
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  background: rgba(0, 0, 0, 0.37);
}
.UC .capa-uc h2{
  padding: 20px;
  color:#fff;
  font-weight: 800;
  text-align: center;
}
.UC iframe{
  width: 100%;
  height: 300px;
}
.UC .texto-uc h2{
  font: 400 normal 100%/1.5 GT America Standard Regular;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: flex;
  text-align: center;
  color:#ffa600;
  font-weight:900;
  font-size: 30px;
  top: 65px;
}
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.UC .slider {
  background: white;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.568);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  top:15%;
}
.UC .slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.UC .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.UC .slider::before {
  left: 0;
  top: 0;
}
.UC .slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.UC .slider .slide {
  height: 100px;
  width: 250px;
}

/* ================ footer ========== */
/*:::::Pie de Pagina*/
.pie-pagina{
  width: 100%;
  background-color: #000000;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
}
.pie-pagina .grupo-1 .box figure img{
  width: 60px;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #000000;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}
.pie-pagina .grupo-2{
  background-color: #000000;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
} 